*.o
.depend
sterm
Makefile.conf
Makefile.orig
lst
out.txt
.vscode/c_cpp_properties.json
base/.express.c.swp
base/config.c
helpers/chipid
helpers/chkrmlic
helpers/mkbind
helpers/mklicenses
helpers/mklog
helpers/mw
helpers/usbload
include/build.h
include/config.h
modules/bin
modules/x86/chipset/.cave.o.cmd
modules/x86/chipset/.chipset.ko.cmd
modules/x86/chipset/.chipset.mod.o.cmd
modules/x86/chipset/.chipset.o.cmd
modules/x86/chipset/.pci.o.cmd
modules/x86/chipset/.ppio.o.cmd
modules/x86/chipset/.wrapper.o.cmd
modules/x86/chipset/.xilinx.o.cmd
modules/x86/chipset/Module.symvers
modules/x86/chipset/chipset.ko
modules/x86/chipset/chipset.mod.c
modules/x86/chipset/.tmp_versions/chipset.mod
modules/x86/dallas/.dallas.ko.cmd
modules/x86/dallas/.dallas.mod.o.cmd
modules/x86/dallas/.dallas.o.cmd
modules/x86/dallas/Module.symvers
modules/x86/dallas/dallas.ko
modules/x86/dallas/dallas.mod.c
modules/x86/dallas/.tmp_versions/dallas.mod
modules/x86/oldxprn/.oldxprn.ko.cmd
modules/x86/oldxprn/.oldxprn.mod.o.cmd
modules/x86/oldxprn/.oldxprn.o.cmd
modules/x86/oldxprn/Module.symvers
modules/x86/oldxprn/oldxprn.ko
modules/x86/oldxprn/oldxprn.mod.c
modules/x86/oldxprn/.tmp_versions/oldxprn.mod
modules/x86/usbkey/.usbkey.ko.cmd
modules/x86/usbkey/.usbkey.mod.o.cmd
modules/x86/usbkey/.usbkey.o.cmd
modules/x86/usbkey/Module.symvers
modules/x86/usbkey/usbkey.ko
modules/x86/usbkey/usbkey.mod.c
modules/x86/usbkey/.tmp_versions/usbkey.mod
modules/x86/xprn/.xprn.ko.cmd
modules/x86/xprn/.xprn.mod.o.cmd
modules/x86/xprn/.xprn.o.cmd
modules/x86/xprn/Module.symvers
modules/x86/xprn/xprn.ko
modules/x86/xprn/xprn.mod.c
modules/x86/xprn/.tmp_versions/xprn.mod
scripts/dsd
scripts/iplirhlp
scripts/license
scripts/multiport
scripts/mwl
scripts/rmlic
scripts/rmlicx
scripts/tpld
scripts/tstbeep
scripts/tstcom
scripts/txl
scripts/unlock
scripts/usbcheck
scripts/usbread
scripts/xlicense
